.gameboard {
  min-height: 70%;
  max-width: 90%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
  gap: 0.2rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #1a1f4a;
  padding: 1rem;
  color: #6bff9a;
  border-radius: 0.3rem;
}

.card img {
  max-height: 40%;
  min-height: 40%;
}

.character-header {
  font-size: 1.25rem;
}
