/* Kevin Powell - CSS Reset  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

:root {
  background-color: #1a1f4a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

h1 {
  font-family: "Audiowide", system-ui, sans-serif;
  color: #39ff14;
  font-size: 2.75rem;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter 18pt", system-ui, sans-serif;
}

h2 {
  color: #e6e8f2;
  font-size: 1.25rem;
}

p,
li,
figcaption {
  text-wrap: pretty;
  max-width: 65ch;
  font-family: "Inter 18pt", system-ui, sans-serif;
  font-size: 1rem;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

@font-face {
  font-family: "Audiowide";
  src:
    url("./memory-card-fonts/Audiowide-Regular.woff2") format("woff2"),
    url("./memory-card-fonts/Audiowide-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter 18pt";
  src:
    url("./memory-card-fonts/Inter18pt-Regular.woff2") format("woff2"),
    url("./memory-card-fonts/Inter18pt-Regular.woff") format("woff");
}
